*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*overflow-x: hidden;*/
	/*border: 1px solid red;*/
}

/*body{
	width: 100vw;
}*/

html{
	scroll-behavior: smooth;
}


@font-face{
	font-family: 'Quentin';
	src: url(../styles/Quentin.ttf);
	font-style: normal;
	font-weight: 100;
}


.parallax1{
	background-clip: url(../video/video.mp4);
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.video{
	position: relative;
	/*left: 50px;*/
	background-clip: cover;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	opacity: 0.9;
}

#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}


.container{
	width: 90%;
	max-width: 120rem;
	height: 100%
	margin: 0 auto;
	position: relative;
}

.section-heading{
	text-align: center;
	margin-bottom: 10rem;
}

.section-heading h1{
	font-size: 3.5rem;
	color: rgb(255,255,255, .3);
	text-transform: uppercase;
	font-weight: 300;
	position: relative;
	margin-bottom: 1rem;
}


/*Fonts*/
/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Source Sans Pro', sans-serif;*/


/*Landing Text*/



.landing-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	z-index: 1;
}

.landing-text h1{
	font-size: 14rem;
	font-family: Quentin;
	font-style: italic;
	background: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 1rem;
}


.nav-list{
	list-style-type: none;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-list > li > a{
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	color: #fff;
}

li{
	margin: 0 10px;
	list-style-type: none;
	float: right;
}

ul{
	margin: 0;
	padding: 0;
	display: flex;
	float: right;
}

ul li a{
	display: inline-block;
	color: #fff;
	padding: 3px 50px;
	border: 1px solid #fff;
	float: right;
	margin-top: 15px;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul>li .active> a{
	background-color: #fff;
	color: #000;
}


body {
  background: black;
}

				/*About*/

#about{
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.about > .container{
	justify-content: center;
	align-items: center;
	position: relative;
	top: 60px;
	left: 60px;
}

.col-md-6 > h2{
	font-family: Quentin;
	font-size: 3rem;
}

.about-content{
	padding-top: 20px;
	font-family: 'Roboto Slab', serif;
}


				/*Products*/
#products{
background-color: white;
background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/viet.jpeg);
background-size: cover;
background-position: center;
color: #efefef !important;
background-attachment: fixed;
padding: 50px 20px;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}


#products h1{
	text-align: center;
	color: #efefef !important;
	padding-bottom: 10px;
	font-family: Quentin;
	font-size: 3.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.products h3{
	text-align: center;
	font-size: 1.5rem;
}

.products{
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
/*	flex-direction: column;*/
}

#products p{
	font-size: 14px;
	margin-top: 5px;
	color: #ccc;
	font-family: 'Roboto Slab', serif;
	display: flex;
	justify-content: center;
	align-items: center;
}


.text-center > a{
	color: #dc493a;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
}

.text-center > p, .text-center > a, .text-center > h3{
	padding: 10px 20px;
}

/*.products .col-md-3:hover{
	background: #007bff;
	cursor: pointer;
	transition: 0.7s;
}*/




/*Fabrics*/

.fabrics {
	background-color: white;
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 130vh;
	margin: auto;
}

.fabrics h1{
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 2rem -2px 2rem 0;
	font-family: 'Playfair Display', serif;
}

col-md-3 text-center{
	font-family: 'Roboto Slab', serif;
}

/*.intro{
	flex: 1;
}*/

.intro-text1 h1{
	font-size: 44px;
	font-weight: 500;
	background: linear-gradient (to right, #49464, #6f6f89);
}

/*.column {
  float: left;
  width: 25%;
  margin: 15px;
  padding: 2px;
}*/

.row{
	display: flex;
	justify-content: center;
	align-items: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.fabrics .column:hover{
	background: #dc493a;
	cursor: pointer;
	transition: 0.7s;
}

/*p-description {
    position: relative;
    height: 300px;
    width: 300px;
}*/

/*Precuts*/
#precuts{
background-color: white;
background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/colors.jpeg);
background-size: cover;
background-position: center;
color: #efefef !important;
background-attachment: fixed;
padding-top: 50px;
padding-bottom: 50px;
}

.precuts {
	background-color: white;
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: auto;
}

.precuts h1{
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 2rem -2px 2rem 0;
	font-family: 'Playfair Display', serif;
}
/*
.intro{
	flex: 1;
}*/

.intro-text2 h1{
	font-size: 44px;
	font-weight: 500;
	background: linear-gradient (to right, #49464, #6f6f89);
}

/*.column {
  float: left;
  width: 25%;
  padding: 2px;
  margin: 15px;
}*/

.row{
	display: flex;
	justify-content: center;
	align-items: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.precuts .column:hover{
	background: #dc493a;
	cursor: pointer;
	transition: 0.7s;
}




/*Curtains*/
.curtains {
	background-color: white;
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 130vh;
	margin: auto;
}

.curtains h1{
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 2rem -2px 2rem 0;
	font-family: 'Playfair Display', serif;
}

.intro-text3 h1{
	font-size: 44px;
	font-weight: 500;
	background: linear-gradient (to right, #49464, #6f6f89);
}

.column {
  float: left;
  width: 25%;
  padding: 2px;
   margin: 15px;
}

.row{
	display: flex;
	justify-content: center;
	align-items: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.curtains .column:hover{
	background: #dc493a;
	cursor: pointer;
	transition: 0.7s;
}


		/*SOCIAL*/

.social{
	background-color: black;
}

.social-img{
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-img > img{
	height: 250px;
	width: 250px;
	margin: 10px 5px;
}

.social-intro > hr{
	width: 100%;
	height: 5px;
	text-align: center;
	background-color: white;
}

.intro-text5{
	color: white;
	margin-bottom: 10px;
}

.intro-text5 > h1{
	position: relative;
	top: 20px;
	/*left: 20px;*/
	font-family: Quentin;
	font-size: 2.5rem;
	padding: 0 20px;
}

.intro-text5 > p{
	font-size: 16px;
	display: block;
	position: relative;
	right: 20px;
	font-family: 'Roboto Slab', serif;
}

.spacer{
	background-color: black;
	height: 15vh;
}

.motto{
	/*background-color: black;*/
	background-image: linear-gradient(rgba(43, 54, 51, 0.3),rgba(43, 54, 51, 0.3)),url(../images/towel.jpeg);
	/*background: url(../images/towel.jpeg);*/
	background-position: center;
	background-size: cover;
	height: 110vh;
}

/*.parallax5{
	background: url(../images/towel.jpeg);
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}*/

.motto > .motto-intro{
  	text-align: center;
  	display: flex;
  	justify-content: center;
  	align-content: center;
  	flex-direction: column;
}

.motto{
	display: flex;
	justify-content: center;
}

.motto-intro > h1{
	font-size: 65px;
	font-family: 'Quentin';
}

.motto-intro > h5{
	font-size: 30px;
	font-family: 'Playfair Display', serif;
}

.motto-intro > h6{
	font-size: 20px;
	font-family: 'Playfair Display', serif;
}

							/*Contact*/
#contact{
	background: #efefef;
	padding-top: 40px;
	padding-bottom: 40px;
	color: black;
	font-family: 'Roboto Slab', serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
}


.contact-form{
	padding: 15px;
}

.form-group > input{
	width: 40vw;
}

.form-group > textarea{
	width: 40vw;
	resize: none;
}

.form-control{
	border-radius: 1 !important;
	border: none !important;
}

::placeholder{
	color: #999 !important;
}

/*Address*/

.follow{
	background: #fff;
	padding: 10px;
	margin: 15px;
	font-size: 10px;
}

.btn-primary {
  background-color: #dc493a;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
font-family: 'Roboto Slab', serif;
}


/*Footer*/
.copyright{
	width: 100%
	text-align: center;
	background-color: black;
	padding: 2rem 0;
	position: relative;
}

.copyright p{
	font-family: 'Roboto Slab', serif;
	color: white;
	font-size: 1rem;
	padding-top: 5px;
	line-height: 20px;
	color: white;
}



/*Media Queries*/
@media only screen and (min-width: 961px) and (max-width: 1000px){
	.box{
		background-color: pink;
	}
}

/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){

.video{
	position: relative;
	background-clip: cover;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	opacity: 0.9;
}

#myVideo {
  right: 0;
  bottom: 0;
  min-width: 200%; 
  min-height: 100%;
}

.landing-text h1{
	font-size: 11rem;
	font-family: Quentin;
	background: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-bottom: 10rem;
}

li{
	margin: 0 5px;
	list-style-type: none;
	float: right;
}

ul li a{
	display: inline-block;
	color: #fff;
	padding: 3px 40px;
	border: 1px solid #fff;
	float: right;
	margin-top: 10px;
}

.about > .container{
	justify-content: center;
	align-items: center;
	position: relative;
	top: 120px;
	left: 40px;
}

.col-md-6 > h2{
	font-family: Quentin;
	font-size: 3.5rem;
}

.about-content{
	padding-top: 21px;
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
}

.products{
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#products h1{
	text-align: center;
	color: #efefef !important;
	padding-bottom: 10px;
	font-family: Quentin;
	font-size: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.products h3{
	text-align: center;
	font-size: 2rem;
}

#products p{
	font-size: 20px;
	margin-top: 5px;
	color: #ccc;
	font-family: 'Roboto Slab', serif;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.text-center{
	text-align: center;
}
.text-center > a{
	color: #dc493a;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	text-align: center;
}

.fabrics {
	background-color: white;
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200vh;
	margin: auto;
}

#fabrics .row{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#fabrics img{
	position: relative;
right: 0px;
}	

#fabrics .column{
 /* float: left;*/
  width: 100%;
  padding: 2px;
   margin: 15px;
}

.fabrics .column:hover{
	background: #dc493a;
	cursor: pointer;
	transition: 0.7s;
	width: auto;
}

.precuts {
	background-color: white;
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: auto;
}

.curtains {
	background-color: white;
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	margin: auto;
}

#curtains .column{
 /* float: left;*/
  width: 100%;
  padding: 2px;
   margin: 15px;
}

.social-img > img{
	display: none;
}

.spacer{
	background-color: black;
	height: 5vh;
}

.motto{
	background-image: linear-gradient(rgba(43, 54, 51, 0.3),rgba(43, 54, 51, 0.3)),url(../images/towel.jpeg);
	/*background: url(../images/towel.jpeg);*/
	background-position: center;
	background-size: cover;
	height: 90vh;
}

.motto-intro > h1{
	font-size: 50px;
	font-family: 'Quentin';
}

.motto-intro > h5{
	font-size: 30px;
	font-family: 'Playfair Display', serif;
}

.motto-intro > h6{
	font-size: 20px;
	font-family: 'Playfair Display', serif;
}

#contact{
	background: #efefef;
	padding-top: 40px;
	padding-bottom: 40px;
	color: black;
	font-family: 'Roboto Slab', serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

.form-group > input{
	width: 50vw;
}

.form-group > textarea{
	width: 50vw;
	resize: none;
}

.follow{
	background: #fff;
	padding: 10px;
	margin: 15px;
	font-size: 12px;
	text-align: center;
}
}


/*mobile*/
@media only screen and (min-device-width : 400px) 
and (max-device-width : 667px) 
{

.video{
	position: relative;
	background-clip: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	opacity: 0.9;
}

#myVideo {
  right: 0;
  bottom: 0;
  min-width: 300%; 
  min-height: 300%;
}

.landing-text h1{
	font-size: 6rem;
	font-family: Quentin;
	background: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-bottom: 3rem;
}


li{
	margin: 0 3px;
	list-style-type: none;
	float: right;
}

ul li a{
	display: inline-block;
	color: #fff;
	padding: 1px 10px;
	border: 1px solid #fff;
	float: right;
	margin-top: 10px;
}

.about > .container{
	justify-content: center;
	align-items: center;
	position: relative;
	top: 50px;
	left: 20px;
}

.col-md-6 > h2{
	font-family: Quentin;
	font-size: 2rem;
}

.about-content{
	padding-top: 20px;
	font-size: 15px;
	font-family: 'Roboto Slab', serif;
}

#products{
background-color: white;
background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/viet.jpeg);
background-size: cover;
background-position: center;
color: #efefef !important;
background-attachment: fixed;
padding: 50px 20px;
height: 150vh;
display: flex;
justify-content: center;
align-items: center;
}

.products{
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#products h1{
	text-align: center;
	color: #efefef !important;
	padding-bottom: 10px;
	font-family: Quentin;
	font-size: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.products h3{
	text-align: center;
	font-size: 1.6rem;
}

#products p{
	font-size: 18px;
	margin-top: 5px;
	color: #ccc;
	font-family: 'Roboto Slab', serif;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.text-center{
	text-align: center;
}
.text-center > a{
	color: #dc493a;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	text-align: center;
}

.fabrics {
	background-color: white;
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 270vh;
	margin: auto;
}

#fabrics .row{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#fabrics img{
	position: relative;
right: 0px;
}	

#fabrics .column{
 /* float: left;*/
  width: 100%;
  padding: 2px;
   margin: 15px;
}


.fabrics h1{
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 2rem -2px 2rem 0;
	font-family: 'Playfair Display', serif;
}
.intro-text1 h1{
	font-size: 24px;
	font-weight: 250;
	background: linear-gradient (to right, #49464, #6f6f89);
}

.fabrics .column:hover{
	background: #dc493a;
	background-size: cover;
	cursor: pointer;
	transition: 0.7s;
}

.precuts {
	background-color: white;
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 270vh;
	margin: auto;
}

.precuts h1{
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 2rem -2px 2rem 0;
	font-family: 'Playfair Display', serif;
}
.intro-text2 h1{
	font-size: 24px;
	font-weight: 250;
	background: linear-gradient (to right, #49464, #6f6f89);
}
#precuts .row{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

#precuts img{
	position: relative;
right: 0px;
}

#precuts .column{
 /* float: left;*/
  width: 42%;
  padding: 2px;
   margin: 15px;
}

.curtains {
	background-color: white;
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 290vh;
	margin: auto;
}

#curtains .column{
 /* float: left;*/
  width: 55%;
  padding: 2px;
   margin: 15px;
}

.intro-text3 h1{
	font-size: 24px;
	font-weight: 250;
	background: linear-gradient (to right, #49464, #6f6f89);
}

#curtains .row{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#curtains img{
	position: relative;
right: 0px;
}

.social-img > img{
	display: none;
}

.intro-text5 > h1{
	position: relative;
	top: 20px;
	font-family: Quentin;
	font-size: 2rem;
	padding: 0 20px;
}

.intro-text5 > p{
	font-size: 10px;
	display: block;
	position: relative;
	top: 15px;
	right: 10px;
	font-family: 'Roboto Slab', serif;
}

.social-intro > hr{
	width: 100%;
	height: 5px;
	text-align: center;
	background-color: white;
	position: relative;
	top: 10px;
}

.spacer{
	background-color: black;
	height: 5vh;
}

.motto{
	background-image: linear-gradient(rgba(43, 54, 51, 0.3),rgba(43, 54, 51, 0.3)),url(../images/towel.jpeg);
	/*background: url(../images/towel.jpeg);*/
	background-position: center;
	background-size: cover;
	height: 90vh;
}

.motto-intro > h1{
	font-size: 32px;
	font-family: 'Quentin';
}

.motto-intro > h5{
	font-size: 22px;
	font-family: 'Playfair Display', serif;
}

.motto-intro > h6{
	font-size: 15px;
	font-family: 'Playfair Display', serif;
}

#contact{
	background: #efefef;
	padding-top: 40px;
	padding-bottom: 40px;
	color: black;
	font-family: 'Roboto Slab', serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}
.follow{
	background: #fff;
	padding: 10px;
	margin: 15px;
	font-size: 8px;
	text-align: center;
}

.copyright p{
	font-family: 'Roboto Slab', serif;
	color: white;
	font-size: 0.75rem;
	padding-top: 5px;
	line-height: 20px;
	color: white;
}
}